<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar  navbar-expand-lg navbar-light top-navbar">
            <a class="navbar-brand" href="@Url.Action("index", "home")"><span id="sHOPMATE">SHOPMATE</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topbar" aria-controls="topbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="topbar" class="collapse navbar-collapse" ng-app="departments" ng-controller="depctrl">

                <div class="nav-item" ng-repeat="x in data">
                    <a href="/Departments/{{ x.department_id }}"><span id="women"> {{ x.name }} </span></a>
                </div>
                
                <div class="mr-auto"></div>

                <div class="nav-item">
                    <a href="#"><img src="https://a.icons8.com/PSdOYTql/7SOi2s/iconssearchblack.png" class="img-fluid" /></a>
                </div>
                <div class="nav-item">
                    <a href="#"><img src="https://a.icons8.com/PSdOYTql/MT0H1R/iconsbagblack.png" class="img-fluid" /></a>
                    <a href="#" id="controlsnu bg"><img src="https://a.icons8.com/PSdOYTql/yAkwnR/controlsnumberred.png" class="img-fluid" /></a>
                </div>


            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
        <hr />

    </div>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
